body {
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden;
    background-attachment:fixed;
    background-size: cover; 
    background-color: #ebebf0;
}

div{
    max-height: 500px;
    overflow-y: auto;
    margin: 40px;
    margin-top: 20px;
}

td{
    padding: 10px;
    width: 20vw;
    overflow: hidden;
    max-height: 20px;
}

h2{
    margin-left: 40px;
}